header{
  border-bottom: 2px solid #000000;
  padding: 15px;
}

body{
  margin: 0;
  padding: 0 20px;
  font-family: Helvetica, Arial, sans-serif;
}

/* .blurb{
  text-align: center;
  float: left;
} */

#blog-container {
  width: 70%;
  padding: 20px;
  margin: auto;
}

#container {
  width: 70%;
  padding: 60px 0px;
  margin: auto;
}

#avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-image: url("https://raw.githubusercontent.com/evtan/evtan.github.io/source/data/square-evan.PNG");
  background-size: cover;
}

#about-portrait{
  display: inline-block;
  width: 32.5%;
  float: left;
}

#space{
  display: inline-block;
  width: 5%;
  float: left;
}

#about-blurb{
  display: inline-block;
  width: 62.5%;
  float: left;
  font-size: 20px;
}

.portrait{
  width: 100%;
  height: auto;
}

.link{
  color: #000000;
  text-decoration: none;
}

.link:hover{
  color: #c1c1c1;
}

.blog-link{
  color: #000000;
  text-decoration: none;
  font-size: 20px;
}

.blog-link:hover{
  color: #c1c1c1;
}

.nav{
  background-color: #ffffff;
  text-decoration: none;
  color: #000000;
  list-style: none;
  text-align: right;
  padding: 15px 30px 5px 0;
}

.nav > li {
  display: inline-block;
  padding: 0 25px;
  font-size: 16px;
}

.nav > li > a {
  color: #000000;
  text-decoration: none;
}

.nav > li > a:hover{
  color: #c1c1c1;
}

.logo {
  text-decoration: none;
  color: #000000;
  display: inline-block;
  /* text-align: left; */
  padding: 0 40px;
  font-size: 16px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}

.logo > a {
  color: #000000;
  text-decoration: none;
}

.logo > a:hover{
  color: #c1c1c1;
}

/* Adding social media buttons */
#social-container {
  width: 50vh;
  padding: 10px 5px;
  margin: auto;
  position: absolute;
}

.social{
  width: 20px;
  height: 20px;
}

#social-li {
  float: left;
  color: white;
  width: 25%;
  height: auto;
  margin: auto;
}

#social-twitter {
  float: left;
  color: white;
  width: 25%;
  height: auto;
  margin: auto;
}

#social-gh {
  float: left;
  color: white;
  width: 25%;
  height: auto;
  margin: auto;
}

#social-medium {
  float: left;
  color: white;
  width: 25%;
  height: auto;
  margin: auto;
}

.btn {
  background-color: #ffffff;
  border: none; /* Remove borders */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: #c1c1c1;
}
