<header>
  <div class="nav">
    <div class="logo">
      <a><%= link_to "EVAN TAN", "/"%></a>
    </div>
    <li><a><%= link_to "Blog", "/blog"%></a></li>
    <li><a><%= link_to "About", "/about"%></a></li>
    <!-- <li><a href="#">Links</a></li> -->
  </div>
</header>
