<header>
  <div class="nav">
    <div class="logo">
      EVAN TAN
    </div>
    <li><a><%= link_to "Blog", "/"%></a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Links</a></li>
  </div>
</header>
