---
pageable: true
per_page: 10
---

<div id="container">
  <div id="about-portrait">
    <img class="portrait" src="https://uc8b2ec10ce95d650d7abca5b633.previews.dropboxusercontent.com/p/thumb/AAzc8HTQhC86_6o__8IJ_BsbaWFhg_uTvcjg7U9B5btQ_fibg-cQcTTscQGN614P-QPKrHOhFHzpaRohlHt9fRiK_UfPvuHBgm6NyS4IIZJjcbKBn3mi2b2t5cKDDdtF5G2k6UOGT0LAXE2LM6m9XOR-U8F8wm_NX-77iGDhXirw5KdgQnY8dXe-GA2S5xNndRaw-2Y-zQHkOPpI2-1RGgUxXjzisOUqUxdvY5wC0u6ICuqfYTcXiu3-WlddfjeM1D_pIIaVrIh5NC9NcnvlV3LvlYa9wpO6prXkkRIPg8JCujr41zRwuLrsML8mjVrm2n3UfTbIyi8D1Lz3bbd9pk1dZAAn2jUbYKdkFln9Nv_qBsiVrSwBIflJV8rtu1IEGQmvRhzui5RVqvFUye2mwA0i/p.jpeg?fv_content=true&size_mode=5" alt="Evan Tan">
  </div>
  <div id="space">
    </br>
  </div>
  <div id="about-blurb">
    <b>Hi, I'm Evan</b>
    <p>I'm currently Chief of Staff at Holistics Software, a full-stack data analytics
    platform ranked #2 globally by Gartner's FrontRunners in 2019.
    <p> Having worked with many startups making a difference through building great products and using data, I enjoy finding
    ways to use software and data to help action-takers operationalise their visions, to do meaningful work
    and build purposeful careers.
    <p> Previously I worked as a Research Associate at the Asia Competitiveness Institute, a global
    top 20 economic policy think-tank applying quantitative methods to study Asian economies.
    I graduated with my master’s degree from Melbourne Business School in 2014, where I was
    actively involved with the CAINZ student organisation as President, and worked closely
    with the Faculty of Business and Economics Careers Centre and industry partners
    to develop programs for students.
    <p> I have also taught myself to code using Javascript, HTML, CSS, Python, R and SQL. I coded this site
    on Ruby using Middleman Blog and Github Pages.
    </p>
  </div>
</div>

<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
