---
pageable: true
per_page: 10
---

<div id="about-container">
  <div id="about-portrait">
    <img class="portrait" src="https://raw.githubusercontent.com/evtan/evtan.github.io/source/data/square-evan.PNG" alt="Evan Tan">
  </div>
  <div id="space">
    <br>
  </div>
  <div id="about-blurb">
    <b>Hi, I'm Evan</b>
    <p> Having worked with many startups making a difference through building great products and using data, I enjoy finding
    ways to use software and data to help action-takers operationalise their visions, to do meaningful work
    and build purposeful careers.
    <p>I'm currently Chief of Staff at <a class="link" style="font-weight:bold" target="_blank" href="https://holistics.io/">
    Holistics Software</a>, a full-stack data analytics platform ranked #2 globally by Gartner's FrontRunners in 2019. As a self-taught coder and product leader,
    I have been a key member of the core team, driving market engagements and outcomes for customers. You can watch some of my
    <a class="link" style="font-weight:bold" target="_blank" href="https://www.youtube.com/watch?v=POhcv45-jh0">product videos here</a>!
    <p> Previously I worked as a Research Associate at the
      <a class="link" style="font-weight:bold" target="_blank" href="https://lkyspp.nus.edu.sg/aci">Asia Competitiveness Institute</a> at the
      Lee Kuan Yew School of Public Policy, one of the world's leading economic policy think-tanks applying quantitative methods to study Asian economies.
    I graduated with my master’s degree from Melbourne Business School in 2014, where I was
    actively involved with the <a class="link" style="font-weight:bold" target="_blank" href="https://cainz.org/">CAINZ commerce student organisation</a> as President, and worked closely
    with the Faculty of Business and Economics Careers Centre and industry partners to develop programs for students.
    <p> My work and views have been covered on <a class="link" style="font-weight:bold" target="_blank" href="https://www.businesstimes.com.sg/asean-business/tech-change-brings-about-wave-of-opportunities-in-s-e-asia">The Business Times</a> (Singapore),
    <a class="link" style="font-weight:bold" target="_blank" href="https://www.straitstimes.com/singapore/education/rising-number-of-tech-grads-set-to-plug-gap-in-sector">The Straits Times</a> (Singapore),
    <a class="link" style="font-weight:bold" target="_blank" href="https://e27.co/four-echelon-top100-winners-prove-singapores-ecosystem-still-crowning-jewel-southeast-asia-20180306/">e27</a> (Singapore),
    <a class="link" style="font-weight:bold" target="_blank" href="https://cafef.vn/doanh-nghiep-singapore-chon-viet-nam-la-diem-den-hang-dau-de-mo-rong-kinh-doanh-20200117172155001.chn">CafeF</a> (Vietnam) and
    <a class="link" style="font-weight:bold" target="_blank" href="https://timesofindia.indiatimes.com/city/goa/Goa-scores-on-productivity-quality-of-life/articleshow/48195442.cms">Times of India</a> (India).
    I have also been featured by companies such as <a class="link" style="font-weight:bold" target="_blank" href="https://www.enterprisesg.gov.sg/media-centre/news/2020/january/go-local-when-expanding-into-s-e-asia">Enterprise Singapore</a>,
    <a class="link" style="font-weight:bold" target="_blank" href="https://asana.com/case-study/holistics">Asana</a> and
    <a class="link" style="font-weight:bold" target="_blank" href="https://withcontent.co/write-case-study-example/">With Content</a>.
    <p> I taught myself how to code using Javascript, HTML, CSS, Python, R and SQL. I coded this site
    on Ruby using <a class="link" style="font-weight:bold" target="_blank" href="https://middlemanapp.com/basics/blogging/">Middleman Blog</a> and
    <a class="link" style="font-weight:bold" target="_blank" href="https://pages.github.com/">GitHub Pages</a>.
    </p>
  </div>
</div>

<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
